.fill-height {
  height: 100%;
  width: 100%;
}

.wrap{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent{
  display: flex;
  justify-content: space-between;
  height: 100vh;
}